table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

h1{
    font-family: pacifico, emoji;
    color: tan;
}

.font-pacifico {
    font-family: pacifico, emoji;
}

#coffees {
    display:grid;
    place-items: center;
}
#coffees {
    border: 5px solid burlywood;
}

.button-remove-item {
    visibility: hidden;
}

.coffee:hover .button-remove-item {
    visibility: visible;
}

body {
    height: 100vh;
}

/* row color */
div.row {
    border: 1px dashed blue;
}
/* cell color */
div.row > div {
    border: 1px solid red;
}
div.tall-row {
    height: 300px;
}
