

h1{
    font-family: pacifico, emoji;
    color: tan;
}

/*background cover for navbar make sure its big enough*/

body {
    background-color: blanchedalmond;
}

.font-pacifico {
    font-family: pacifico, emoji;
}

.custom-navbar {
    background-image: url("cafe-pictures/cafe.jpg"); /* background image */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -80px;
}

/*#coffees {*/
/*    display:grid;*/
/*    place-items: center;*/
/*}*/
#coffees {
    border: 5px groove burlywood;
    border-radius: 10px;
}

.button-remove-item {
    visibility: hidden;
}

#main-content {
    max-width: 100%;
}

.coffee:hover .button-remove-item {
    visibility: visible;
}

/*body {*/
/*    height: 100vh;*/
/*}*/

/* row color */
/*div.row {*/
/*    border: 1px dashed blue;*/
/*}*/
/*!* cell color *!*/
/*div.row > div {*/
/*    border: 1px solid red;*/
/*}*/
/*div.tall-row {*/
/*    height: 300px;*/
/*}*/
