table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

h1{
    font-family: pacifico, emoji;
    color: tan;
}

#coffees {
    display:grid;
    place-items: center;
}
#coffees {
    border: 5px solid burlywood;
}

